
.button-toolbar {
   display: flex;
   flex-direction: row;
}

.enter-buttons {
   margin: 15px 0px 0px 0px;
}

.form-buttons {
   margin: 4px;
}

.main-menu {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.menu {
   display: flex;
   justify-content: flex-start;
}

.menu-text {
   margin: 0px 10px 0px 0px;
}

.toolbar-links {
   align-items: center;
}