
.button-toolbar {
   display: flex;
   flex-direction: row;
}


.form-buttons {
   margin: 4px;
}

.menu {
   display: flex;
   justify-content: flex-start;
}

.menu-text {
   margin: 0px 10px 0px 0px;
}
