.chatContainer {
    display: flex;
    flex-direction: row;  
}
.chatParticipants {
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 255, 255);
    width: 30vh;
    height: calc(100vh - 60px);
}
.chatDialog {  
    overflow-y: scroll;
    display: flex;
    width: 100vh;
    height: calc(100vh - 60px);
    background-color: rgb(250, 250, 250);

}