.chatContainer {
    display: flex;
    flex-direction: row;  
}
.chatParticipants {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 255, 255);
    width: 30vh;
    height: calc(100vh - 60px);
}
.chatDialog {  
    overflow-y: scroll;
    display: flex;
    width: 100vh;
    height: calc(100vh - 60px);
    background-color: whitesmoke;
    align-content: center

}
input {
    width: 200%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
  }

.df:hover {
    background: #3374C2;
}



